
<section id="form-section" class="">
    <div class="">
        <h2>Login</h2>
        <form class="login-form">
            <div class="form-group">
                <label class="form-label" for="username-login">Username</label>
                <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
                <label class="form-label" for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="CTA-btn" type="submit">Login</button>
            </div>
        </form>
    </div>
</section>
<a href="/signup">Or Sign-Up"</a>

<script src="/js/login.js"></script>